NODE_ENV=development
PORT=5000
SQLSERVER_CONNECTION_STRING="Driver={ODBC Driver 17 for SQL Server};Server=MSI\QUANGDEPTRAI;Database=crm_mini;Uid=your_sql_user;Pwd=your_sql_password;Trusted_Connection=No;TrustServerCertificate=Yes;Encrypt=Yes;"
JWT_SECRET="replace_with_strong_secret"
JWT_EXPIRES_IN="1d"